#navbar {
  position: fixed;
  border-right: solid;
  border-color: gray;
  top: 0px;
  left: -20px;
  width: 300px;
  min-width: 185px;
  height: 100%;
}
#navbar li {
  list-style: none;
  border-top: 1px solid;
  border-color: gray;
  width: 100%;
}
#navbar a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px 0px;
}
#main-doc {
  margin-left: 300px;
  padding: 20px;
}
#main-doc header {
  font-weight: bold;
  font-size: 30px;
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  #navbar {
    position: relative;
  }
  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
.head {
  font-size: 30px;
  padding-left: 30px;
}
