* {
}
html {
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  font-size: 50px;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
Header p {
  font-size: 25px;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
.container {
}
Header {
  text-align: center;
}

#survey-form {
  background: rgba(52, 23, 155, 0.8);
  border-radius: 40px;
  padding: 20px;
  display: relative;
  margin: 1rem auto;
  width: 50%;
}
.input-checkbox,
label {
  display: flex;
}
.form-control {
  width: 100%;
}
#survey-form p,
label,
.clue {
  font-size: 22px;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
#comments {
  width: 100%;
}

#submit {
  background: rgb(78, 160, 214);
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
}
